body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 50px;
    line-height: 1.8;
    background-color: #fdfdfd;
}

p {
    color: #2c3e50;
    margin-bottom: 10px;
}

mark {
    background-color: #d1a907;
    padding: 0 5px;
    border-radius: 3px;
}

strong { color: #a41b0b; }
em { color: #4eb8ff; }


blockquote {
    font-style: italic;
    background: #86ec65;
    border-left: 5px solid #bdc3c7;
    padding: 10px 20px;
    margin: 20px 0;
}


h1 { border-bottom: 2px solid #333; }
h2 { color: #7f8c8d; }